<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joselara.pizza5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
            android:largeHeap="true"
        >

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page1" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".deliverortakeout" />
        <activity android:name=".page2" />
        <activity android:name=".page3" />
        <activity android:name=".createpizza" />
        <activity android:name=".toppings"
            android:largeHeap="true"
            />
        <activity
            android:name=".cart"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".carttest1"
            android:label="@string/title_activity_carttest1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".drinks"></activity>
    </application>

</manifest>